.password-display { background:#ededed; border:1px solid #e3e3e3; padding:3px 10px; display:inline-block; margin-right:10px; width:220px; }
.generate-password { display:inline-block; margin-top:5px; }
